<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/header.ejs"); -%>
<h1>ABOUT US</h1>
<p> <%= aboutContent %></p>
<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/footer.ejs"); -%>