<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/header.ejs"); -%>
<h1>CONTACT</h1>
<p> <%= contactContent %></p>
<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/footer.ejs"); -%>