<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/header.ejs"); -%>

    <h1> <%=title %> </h1>
    <p>  <%=content %></p>

<%- include("/Users/yogeshshamlin/Desktop/WEB _DEV/blog/partials/footer.ejs"); -%>